{
  "minify": true,
  "sourceMaps": false,
  "module": {
    "type": "commonjs",
    "strict": true,
    "strictMode": true,
    "noInterop": false
  },
  "jsc": {
    "target": "es2022",
    "minify": {
      "compress": {
        "unused": true
      },
      "mangle": true
    },
    "loose": true,
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true,
      "esModuleInterop": true
    },
    "transform": null,
    "externalHelpers": false
  }
}
